<h1>Join Us</h1>
<form method="post" enctype="multipart/form-data"> <!-- Add enctype attribute for file uploads -->
    {% csrf_token %}
    {{ form.as_p }}
    <div class="form-group">
        
    </div>
    <div class="form-actions">
        <button type="submit">Submit</button>
    </div>
</form>

<!-- ===========================================================Footer Start================================= -->


<footer style=" margin-top: 3px; background-color: rgb(15,26,67); border-radius: 20px;">
    <section class="container ">
      
        <p style="color: white; padding: 30px; text-align: center;">Copyright and Developed © 2022 OS IT Solutions LTD.
        </p>
    </section>
  </footer>


  <!-- =========================================== footer end================================= -->
