{% extends 'base1.html' %}

{% block title %}Edit Member{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'ourteam' %}">Our Team</a></li> 
  <li class="breadcrumb-item"><a href="{% url 'ourteam_teammember' pk=teammember.ourteam.pk teammember_pk=teammember.pk %}">{{ teammember.ourteam.name }}</a></li>
  <li class="breadcrumb-item active">{{ teammember.name }}</li>
  <li class="breadcrumb-item active">Edit Member</li>
{% endblock %}

{% block content %}
  <form method="post" class="mb-4" enctype="multipart/form-data" novalidate>
    {% csrf_token %}
    {% include 'includes/form.html' %}
    <button type="submit" class="btn btn-success">Save changes</button>
    <a href="{% url 'ourteam_teammember' pk=teammember.ourteam.pk teammember_pk=teammember.pk %}" class="btn btn-outline-secondary" role="button">Cancel</a>
  </form>
{% endblock %}