{% extends 'base3.html' %}

{% block title %}Edit Product{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'solution' %}">Solution & Products</a></li> 
  <li class="breadcrumb-item"><a href="{% url 'solution_product' pk=product.solution.pk product_pk=product.pk %}">{{ product.solution.name }}</a></li>
  <li class="breadcrumb-item active">{{ product.name }}</li>
  <li class="breadcrumb-item active">Edit Product</li>
{% endblock %}

{% block content %}
  <form method="post" class="mb-4" enctype="multipart/form-data" novalidate>
    {% csrf_token %}
    {% include 'includes/form.html' %}
    <button type="submit" class="btn btn-success">Save changes</button>
    <a href="{% url 'solution_product' pk=product.solution.pk product_pk=product.pk %}" class="btn btn-outline-secondary" role="button">Cancel</a>
  </form>
{% endblock %}