{% extends 'base3.html' %}

{% block breadcrumb %}
  <li class="breadcrumb-item active">Solution & Products</li>
{% endblock %}

{% block content %}

<div class="mb-4">
  <a href="{% url 'new_solution' %}" class="btn btn-primary">New Solution</a>
</div>

        <table class="table">
        <thead class="thead-inverse">
        <tr>
          <th>Solution & Products</th>
        </tr>
      </thead>
      <tbody>
        {% for solution in solution %}
        <tr>
          <td>
            <a href="{% url 'solution_product' pk=solution.pk %}">{{ solution.name }}</a>
          </td>  
        </tr>
      {% endfor %}
      </tbody>
    </table>

{% endblock %}

